.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #bbb #f5f5f5;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
